nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 2px solid grey;
}

nav a {
  text-decoration: none;
  color: #5383d3;
  margin-right: 10px;
  font-size: 20px;
}

a:visited {
  color:rgb(14, 98, 177); 
}

nav img {
  width: 85px;
  height: 85px;
  object-fit: cover;
}

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }
  nav a, nav img {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    object-fit: contain;
  }
  nav a {
    border-top: 1px solid grey;
  }
  nav > a:hover {
    color:rgb(20, 123, 220);
    background-color: rgb(211, 211, 211);
  }
}
